*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col {
  padding: 0 15px;
}

.col-50 {
  width: 50%;
}

.col-25 {
  width: 25%;
}

/* form-section */
.form-section {
  background-color: #faf3e0;
}
.container{
    background-color: white;
    padding: 10px 20px;
}
form {
  width: 100%;
  /* background-color: red; */
  border-radius: 10px;
  padding: 20px 30px;
}



.form-group {
  margin-bottom: 20px;
}

.image-section figure{
    max-width: 100px;
}
.image-section img{
    margin-top: 40px;
    margin-left: 50px;
    max-width: 400px;
    border-radius: 10px;
}
.text-container{
    text-align: center;
    padding:10px 5px;
}
.text-container h4{
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    padding-bottom: 10px;
}
input[type="name"], input[type="email"],input[type="password"],input[type="cnfpwd"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


input[type="submit"], input[type="reset"] {
    background-color: aqua;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
}
.checkbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}
.checkbox p{
    font-size: 20px;
    font-weight: 500;
}
.radio-section{
    display: flex;
    gap: 20px;
}
.form-group label{
    font-size: 18px;
    font-weight: 500;
    color: #333;
    /* margin-bottom: 5px; */
    display: block;
}
.error{
    color: rgb(249, 70, 70);
    font-size: 14px;
    margin-top: 5px;
    text-align: right;
}

@media screen and (max-width: 768px) {
  .col-50 {
    width: 100%;
    margin-bottom: 20px;
  }
    
}
