*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*common elements  */
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}
li{
    margin-left: 15px;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Common class */
.container{
    max-width: 1150px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col{
    padding: 0 15px;
}
.col-50{
    width: 50%;
}
.col-25{
    width: 25%;
}
.dropdown{
    position: relative;
}
.dropdown-content{
    position: absolute;
    max-width: 110px;
    width: 100%;
    background-color: red;
    display: none;
}
.dropdown:hover .dropdown-content{
    display: block;
}

