@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
  color: white;
}
body {
  background-color: #000000;
}

/* Common Classes */
a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  /* color: black */
}

ul {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
li {
  /* background-color: red; */
  /* margin: 2px; */
  margin-left: 15px;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col {
  padding: 0 15px;
}
.col-50 {
  width: 50%;
}
.col-33 {
  width: 33.33%;
}
.col-25 {
  width: 25%;
}
h3 {
  color: white;
}
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

/*  */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 50px;
  width: 100px;
}
.navbar {
  padding: 10px 20px;
  /* background-color: red; */
}
.navlist {
  display: flex;
  gap: 50px;
}
.model {
  height: 80%;
  width: 80%;
  margin-left: 50px;
  border-radius: 40px;
  overflow: hidden;
}
.text-part h2 {
  font-size: 40px;
}
.description li {
  padding: 10px 2px;
}
.description p::before {
  content: "";
  background-image: url("./images/next.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  height: 15px;
  width: 15px;
}
.button {
  padding: 8px 15px;
  /* background-color: red; */
  background: rgba(255, 255, 255, 0.09);
  border-radius: 40px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

nav .button:hover {
  transition: all ease-in 0.5s;
  background-color: white;
  color: black;
  transition: all ease-in 1s;
}
nav .button {
  font-size: 18px;
}
.text-part p {
  /* background-color: red; */
  padding: 20px 2px;
}
.text-part h2 {
  font-size: 60px;
}
.hero-section .middle {
  padding: 120px 10px;
  /* background-color: red; */
}
/* When hovering the button or its child <i> */
.project-section .part1 .button:hover,
.project-section .part1 .button:hover i {
  background-color: white;
  color: black;
  transition: all ease-in 0.5s;
}
.project-section .part1 .button i {
  background-color: orange;
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-section .part1 a {
  display: flex;
  align-items: center;
  gap: 20px;
  /* background-color: blue; */
}
.project-section .part1 .button:hover i {
  transform: rotate(-45deg);
  background-color: orange;
}
.project-section .part1 {
  display: flex;
  /* background: red;        */
  align-items: center;
  justify-content: space-between;
}
.project-section h2 {
  font-size: 50px;
}

.project-section .text-part p i {
  /* background-color: white; */
  color: white;
}
.video-section {
  height: 80%;
  /* width: 100%; */
  overflow: hidden;
  border-radius: 10px;
  /* background-color: red; */
  /* box-shadow: 10px 10px 10px 0px rgba(80, 80, 80, 0.75); */
}
.text-part h3 {
  font-size: 20px;
  font-weight: 700;
}
.text-part p {
  font-size: 19px;
  font-weight: 100;
}
.project-section .part2 {
  /* background-color: red; */
  margin-top: 20px;
}
.add-project-section {
  margin: 20px 0;
  /* background-color: red; */
  padding: 2px 20px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.buttons {
  padding: 10px 0;
}

/* .project-section .part2 .button:hover, .project-section .part2 .button i:hover{
 background-color: white;
 color: black;
}

.project-section .part2 .button i:hover{
    color: black;
} */

/* Skills-section */
.header h2 {
  font-size: 50px;
}
.box {
  /* background-color: red; */
  margin: 0 4px;
  padding: 8px 20px;
  border-radius: 20px;
  border: 1px solid wheat;
}
.box p {
  font-size: 18px;
}
.skills-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}
.skills-section .row {
  /* background-color: rebeccapurple; */
  margin-top: 20px;
}
.heading-box h2 {
  font-size: 30px;
  /* background-color: red; */
  text-align: center;
}

.heading-box p {
  font-size: 70px;
  font-weight: 600;
}
.heading-box span {
  background-image: linear-gradient(to right, red, violet);
  color: transparent;
  background-clip: text;
}
/* Moving-text */
.moving-text {
  background-color: #2167fc;
  padding: 11px 0;

  overflow: hidden;
  transform: rotate(-2deg);
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
}

.marquee-content {
  display: flex;
  animation: motion 30s linear infinite;
}

.text-content {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 5px;
  /* background-color: red; */
}

.text-content h2 {
  display: inline-block;
  color: white;
  margin: 0;
}

@keyframes motion {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.navbar-items i {
  display: none;
}

.navbar-items .button:hover i {
  transition: all ease-in 2s;
  display: inline-block;
  color: black;
}
