*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common class */
/* html,body{
    height: 100%;
    width: 100%;
} */
a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}

li{
    margin-left: 15px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Commomn class */
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col {
  padding: 0 15px;
}
.col-50 {
  width: 50%;
}
.col-33 {
  width: 33.33%;
}
.col-25 {
  width: 25%;
}

.section-padding{
    padding-top: 100px;
    padding-bottom: 100px;
}
/* text-part */
.contact-section{
      background-color: #292d33;   /* dark bg for full section */
      min-height: 100vh;
}
.text-part{
    /* background-color: red; */
    text-align: center;
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
}

.first-part{
    /* background-color: darkblue; */
    color: white;
    padding: 40px 0;
}
.form-container{
    /* background-color: darkgoldenrod; */
    max-width: 350px;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
}
input, textarea {
      width: 100%;
      padding: 12px;
      margin-bottom: 20px;
      border: none;
      border-radius: 2px;
      font-size: 14px;
}

.first-part>p{
    padding: 10px 20px;
    text-align: center;
}

/* Second-part */
.second-part{
    background-color: white;
    color: black;
}

.text-content{
    /* background-color: red; */
    text-align: center;
}

.text-content h2{
    font-size: 40px;
}
.text-content p{
    font-size: 24px;
}

ul{
    /* background-color: red; */
    display: flex;
    padding: 5px 10px;
}




@media screen and (max-width:767px) {
    .col-md-100{
        width: 100%;
    }
    .col-md-50{
        width: 50%;
    }
    .col-md-25{
        width: 25%;
    }
    .contact-section .row{
        flex-direction: column;
        align-items: center;
    }
}
